$mainColor: navy;

body {
	background-color: #ccc;
	padding: 0 1rem;
	font-family: sans-serif;

	h1 {
		color: $mainColor;
	}

	p {
		color: $mainColor;
	}

	@mixin button($bgcolor: #555, $textcolor: black, $borderWidth: 1px) {
		background-color: $bgcolor;
		color: $textcolor;
		padding: .5rem;
		border-radius: .5rem;
		border: $borderWidth solid #444;

		&:hover {
			background-color: lighten($bgcolor, 10%)
		}

		@if $borderWidth >1px {
			box-shadow: 5px 5px 5px #444;
		}
	}

	.btn-primary {
		@include button(navy, #ccc);
	}

	.btn-secondary {
		@include button(darkgreen, #ccc, 2px);
	}

	.btn-danger {
		@include button(tomato, black, 4px);
	}

	.btn-warning {
		@include button(orange);
	}

	$colors: yellow, orange, green, blue, red;

	@for $i from 1 through length($colors) {
		.box-#{$i} {
			width: 3rem;
			height: 3rem;
			background-color: nth($colors, $i);
		}
	}
}